//colors
$paperColor: hsl(230, 89%, 62%);
$rockColor: hsl(349, 71%, 52%);
$scissorsColor: hsl(39, 89%, 49%);

$cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);

$headerOutline: hsl(217, 16%, 45%);
$background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

$selectorSize: 170px;
$selectorBorder: 20px;
$imgSize: 65px;
$fontSize: 14px;

$md1: 1025px;
$md2: 768px;
$md3: 480px;
$md4: 341px;

$logoWidth: 162px;
